.follow{
    font-size: 18px;
    padding-top: 0;
    margin-top: 10px;
    color: white;
    word-spacing: 0.5rem;
}
.marque{
    margin-top: 10px;
    word-spacing: 0.5rem;
}
.email{
    margin-top: 10px;
    color: white;
}
.email:hover{
    color: red;
}
.navbar-dark .navbar-nav .nav-link{
    color: rgb(255 255 255) !important;
    font-weight: 400;
    font-size: 20px;
    padding: 20px;
}
/*.navbar-dark .navbar-nav .nav-link:hover{
    background-color: rgb(244, 33, 29);
    border-radius: 30px;
}*/
.nav-item img{
    width: 20px;
}

.affix{
    top: 0;
    width: 100%;
    z-index: 9999 !important;
}

.affix + .container-fluid {
    padding-top: 70px;
}


#searchbox{
    background-color: #3dfa8cf9;
    color: white;
    border-radius: 0;
    position: relative;
    left: 47px;
    box-shadow: 5px 10px 11px hsla(0, 0%, 0%, 0.484);
}
#searchbox::placeholder{
    color: white;
}
#searchbtn{
    position: relative;
    z-index: 99;
    background-color: rgb(77, 77, 255);
    color: white;
    border: 0;
    border-radius: 0;
}
@media only screen and (max-width: 768px){
    #searchform{
        margin-bottom: 30px;
        margin-top: 20px;
        position: relative;
        left: -20px;
    }
}
.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
.dropdown {
    position: relative;
    display: inline-block;
  }
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
  }
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 10px;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}

.marquee{
    background-color: yellow;
    color: black;
    font-size: 18px; 
    font-weight: bold;
    padding-top: 10px; 
}
.marquee a{
    text-decoration: none;
    color: black;
}
.marquee a:hover{
    text-decoration: none;
    color: red;
}
  .head{
    color: brown;
    font-size: 35px;
    margin-top: 15px;
}
.heading{
    text-align: center;
    font-size: 50px;
    color: hsla(0, 9%, 2%, 0.966);
    font-weight: bold;
}
.paragraph{
    font-size: 20px;
    color: black;
    font-weight: 400;
}
#btn{
    background-color: aqua;
    color: red;
    font-size: 25px;
    border: 1 solid black;
    box-shadow: 2px 2px 0px 0px;
    float: right;
}
#btn:hover{
    background-color: darkgreen;
    color: #ffffff;
}
/*    college teacher   */
.cimage{
    position: relative;
    margin: 10px;
}
.cimage p{
    position: absolute;
    bottom: 0px;
    font-size: 15.8px;
    background-color: white;
}
.cimage h5{
    position: absolute;
    bottom: 30px;
    font-size: 15.8px;
    background-color: white;
    left: 60px;
    font-size: 18px;
    font-weight: bold;
}
.seimage{
    position: relative;
    margin: 10px;
}
.seimage h6{
    position: absolute;
    bottom: 10px;
    font-size: 16px;
    background-color: white;
    left: 20px;
}
.seimage h5{
    position: absolute;
    bottom: 28px;
    background-color: white;
    left: 60px;
    font-size: 18px;
    font-weight: bold;
}
.dimage{
    position: relative;
    margin: 10px;
}
.dimage h6{
    position: absolute;
    bottom: 10px;
    font-size: 15px;
    background-color: white;
    left: 10px;
}
.dimage h5{
    position: absolute;
    bottom: 28px;
    background-color: white;
    left: 60px;
    font-size: 18px;
    font-weight: bold;
}
.pimage{
    position: relative;
    margin: 10px;
    align-items: center;
}
.pimage h4{
    position: absolute;
    bottom: 10px;
    font-size: 16px;
    background-color: white;
    left: 35px;
}
.pimage h5{
    position: absolute;
    bottom: 28px;
    background-color: white;
    left: 60px;
    font-size: 18px;
    font-weight: bold;
}
.formheading{
    color: black;
    font-weight: 500;
    text-align: center;
}
#form{
    text-align: left;
    padding-left: 100px;
}
.name{
    font-size: 18px;
    color: black;
    font-weight: 400;
}
.submitbtn{
    background-color: antiquewhite;
    color: black;
    border-radius: 5px;
    font-size: 22px;
    margin: 30px;
}
.submitbtn:hover{
    background-color: brown;
    color: white;
}
.scroll{
    text-align: right;
}
.gotopbtn{
    position: fixed;
    width: 50px;
    height: 50px;
    background: rgb(213, 134, 134);
    bottom: 40px;
    right: 30px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 22px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0 30px 1;
}
.socials li{
    margin: 0 5px;
}
.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a i{
    font-size: 1.1rem;
    transition: color 0.4s ease; 
}
.socials a:hover i{
    color: rgb(255, 0, 0);
    padding-left: 8px;
}
.socials a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin: 0 5px 5px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
}
.container{
    width: 100%;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 50px 8%;
   padding-bottom: 10px;

}
.title h2{
    text-align: center;
    color: forestgreen;
    margin: 30px 0 50px;
}
.our-gallery{
    display: block;
    align-items: center;

}
.our-gallery img{
    width: 350px;
    height: 300px;
    padding: 5px;
    /*filter: grayscale(100%);*/
    transition: 1s;
    border: 1px solid black;
}
.cimage{
    margin: 10px;
}
.cheader{
    text-align: center;
    color: rgb(0, 0, 0);
    font-weight: 400;
}
.cheader:hover{
    color: red;
}
.cparagraph{
    font-size: 20px;
    color: darkgreen;
    font-weight: 300;
}
.cbtn{
    text-align: center;
    margin-bottom: 10px;
    float: right;
    color: white;
    background-color: blueviolet;
    border-radius: 10px;
    border: 1px solid rgb(0, 0, 0);
}
.cbtn:hover{
    background-color: red;
    color: chartreuse;
}
.course{
    text-align: center;
    font-weight: bold;
    padding-top: 10px;
    color: red;
}
.bi-facebook:hover{
    color: red;
}
.bi-google:hover{
    color: red;
}
.bi-twitter:hover{
    color: red;
}
.bi-youtube:hover{
    color: red;
}
.Principle h3{
    color: white;
    background-color:brown;
    margin: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.Principle img{
    position: relative;
    height: 350px;
    width: 300px; 
    margin-top: 20px;
    margin: 20px;
    border: 1px solid black;
}
.Principle h4{
    position:absolute;
    padding-top: -50px;
    color: black;
    background-color:rgb(237, 237, 237);
    margin-top: -80px;
    text-align: center;
    margin-left: 55px; 
    padding: 20px;
}
.Principle h4 button{
    background-color: #3e8e41;
    padding: 5px; 
    margin-top: 30px;
    margin-bottom: -100px;
    position: absolute;
}
.vprinciple h3{
    color: white;
    background-color:brown;
    margin: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.vprinciple img{
    position: relative;
    height: 350px;
    width: 300px; 
    margin-top: 10px;
    margin: 20px;
    border: 1px solid black; 
}
.vprinciple h4{
    position:absolute;
    padding-top: -50px;
    color: black;
    background-color:rgb(237, 237, 237);
    margin-top: -80px;
    text-align: center;
    margin-left: 70px; 
    padding: 20px;
}
.vpbtn, .pbtn{
    margin-top: 60px;
    float: right;
    background-color: blue;
    color: white;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    font-size: 22px;
    margin-bottom: 10px;
}
.vpbtn:hover, .pbtn:hover{
    background-color: crimson;
    color: black;
}
@media screen and (max-width : 1370px){
    .Principle img{ 
        margin: 0px; 
    }
    .Principle h4{
        padding-top: 0px; 
        margin-top: -80px; 
        margin-left: 10px 
    }
    .vprinciple img{ 
        margin: 0px; 
    }
    .vprinciple h4{
        padding-top: 0px; 
        margin-top: -80px; 
        margin-left: 10px 
    }

}
@media screen and (max-width : 992px){
    .Principle{
        padding-bottom: 50px;
    }
     .Principle img, .vprinciple img{
        width: 900px;
        margin-left: 60px;
        margin: 0;

    }
    .Principle h4, .vprinciple h4{
        margin-left: 350px;
    }
    .vprinciple{
        padding-bottom: 50px;
    }
}
@media screen and (max-width : 768px){
    .Principle{
        padding-bottom: 50px;
    }
    .vprinciple{
        padding-bottom: 50px;
    }
    .Principle h4, .vprinciple h4{
        margin-left: 70px;
    }
    
    .vprinciple img{
        align-items: center;
        float: calc(100px);
    }
}
@media screen and (max-width : 375px){
    .Principle{
        padding-bottom: 40px;
    }
    .Principle img{
        margin-top: 10px;
        margin: 0px;  
        margin-bottom: 20px;
    }
    .Principle h4{
        padding-top: 0px; 
        margin-top: -80px; 
        margin-left: 40px;
        padding-bottom: 30px;
    }
    .vprinciple{
        padding-bottom: 30px;
    }
    .vprinciple img{ 
        margin-top: 10px;
        margin: 0px;  
        margin-bottom: 20px;
    }
    .vprinciple h4{ 
        padding-top: 0px; 
        margin-top: -80px; 
        margin-left: 60px;
        padding-bottom: 30px;
    }
}
.content{
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
}
.btnmore{
    float: right;
    margin: 10px;
    background-color: blue;
    color: white;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    font-size: 22px;
    margin-top: 45px;
    margin-bottom: 10px;
}
.btnmore:hover{
    background-color: crimson;
    color: black;
}
.Notice a{
    text-decoration: none;
    color: black;
}
.middle h2{
    text-align: center;
    color: black;
    font-weight: bold;
}
.middle img{
    height: 400px;
    width: 590px;
    margin: 10px;
}
.upgrade h2{
    text-align: center;
    color: black;
    font-weight: bold;
}
.upgrade img{
    height: 400px;
    width: 590px;
    margin: 10px;
}
